body {
  font-family: 'SF Pro Display', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none !important;
  outline-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.scroll-jump {
  scroll-snap-type: y mandatory;
}

.scroll-align {
  scroll-snap-align: start;
  height: 100vh;
  scroll-snap-stop: always;
}

.scroll-none {
  scroll-snap-align: none;
  height: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* / Hide scrollbar for IE, Edge and Firefox / */
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.mt-0imp {
  margin-top: 0 !important;
}

.notifications::-webkit-scrollbar {
  width: 5px;
}

.notifications::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.notifications::-webkit-scrollbar-thumb {
  background: #888;
}

.notifications::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.animate-banner-hover:hover {
  animation-play-state: paused;
}

.firstDelay {
  animation-delay: 2s;
  transition-delay: 2s;
}

.secondDelay {
  animation-delay: 4s;
  transition-delay: 4s;
}

.whiteText {
  color: white !important;
}

.tableShadow {
  box-shadow: 0px 1px 8px 0px rgba(85, 85, 85, 0.75);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(85, 85, 85, 0.75);
  -moz-box-shadow:0px 1px 8px 0px rgba(85, 85, 85, 0.75);
}

.radioBlack * {
  border-color: black !important;
}

.financial_detail_button{
border-radius: 0.4rem;
}
.request_button{
  border-radius: 0.8rem;
}
@media (min-width: 1024px) {
  .perspective {
    perspective: 1400px;
    perspective-origin: center;
    position: relative;
  }
  }
  .dashboarmaincontiner .data_room_section .data_room_section_1{
    margin-top: 1rem;
    }
        .investor_explore {
      margin-top: 5rem;
    }

/* / signinipfield / */
.selectcard {
  width: 100%;
}
.selectcarddiv {
  width: 350px;
}

.ipfield {
  width: 450px;
}
.ipfieldfw {
  width: 100%;
}
.dashboard_dr_cards_1 {
  width: 30%;
}
.dashboard_dr_cards_2 {
  width: 70%;
}

.dashboardcont {
  width: 70%;
  margin: auto;
  margin-top: 5rem;
}
.hamburger {
  display: none;
}

@media (max-width: 485px) {
  .ipfield {
    width: 100%;
  }
  .selectcarddiv {
    width: 100%;
  }
  .signinformipfield {
    width: 90%;
  }
  .chartcontenttext {
    font-size: 12px;
    line-height: 140%;
  }
  .dashboardtablehead {
    font-size: 16px;
  }
  .dashboarmaincontiner .data_room_section .data_room_section_1{
    flex-direction: column !important;
    margin-top: 1rem;
    }
    .data-room-pieChart{
      flex-direction: column !important;
      gap: 0;
    }
    .investor_explore {
      margin-top: 5rem;
    }
    .explore_id_page{
      margin-top: 6rem;
    }
    .borrower_dashboard{
      margin-top: 6rem;
    }
}
@media (max-width:1030px){

  .display_none_1030 {
    display: none !important;
  }
  .userinfospacingcont {
    padding-top: 50px !important;
  }
}
@media (min-width:1030px){

  .mobile_logo_display_none {
    display: none !important;
  }
  
}

@media (max-width: 1030px) {
  .logoutButn {
    margin-right: 20px;
    margin-left: auto;
  }
  .userName {
    z-index: 1;
    color: white;
  }
  .navbarmobilemenu {
    padding-right: 20px;
    padding-left: 20px;
  }
  .dashboarmaincontiner {
    padding-bottom: 70px;
    padding-top: 100px;
    min-height: 100vh !important;
  }
  .logoDiv {
    position: absolute;
    top: 30px;
    left: 20px;
  }
  .sidebardashboardMenuLinks {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    /* margin: auto; */
    /* margin-bottom: 20px; */
    /* margin-left: 0.5rem;
    margin-right:0.5rem; */
    position: absolute;
    width: 100%;
    top: 90px;
  }

  .data_room_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* margin: auto; */
    /* margin-bottom: 20px; */
    margin-left: 0.5rem;
    margin-right:0.5rem;
    position: absolute;
    width: 100%;
    top: 90px;
  }

  .hamburger {
    display: block !important;
  }
  .sidebardashboard {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    top: 0;
    height: 180px;
    z-index: 9;
  }
  .sidebardashboardopen {
    position: absolute;
    left: 0;
    width: 50%;
  }
  .explore_id_page{
    margin-top: 6rem;
  }
}
@media (max-width: 768px) {
  .dashboarmaincontiner .data_room_section .data_room_section_1{
    flex-direction: column !important;
    margin-top: 1rem;
    }
    .investor_explore {
      margin-top: 5rem;
    }
    .explore_id_page{
      margin-top: 6rem;
    }
    .borrower_dashboard{
      margin-top: 6rem;
    }
}
@media (max-width: 1440px) {
  .dashboardcont {
    width: 90%;
  }
  .userinfospacingcont {
    padding-top: 80px;
  }
}


@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFProDisplayRegular.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFProDisplayBold.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFProDisplayMedium.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFProDisplayBlackItalic.OTF')
    format('opentype');
  font-weight: 900;
  font-style: italic;
}

/* Add more weights and styles as needed */
/* PDF Viewer */
/*
.rpv-core__viewer {
  width: 100%;
  height: 100%;
}

.rpv-core__viewer .rpv-core__inner-container {
  width: 100%;
  height: 100%;
}

.rpv-core__viewer .rpv-core__inner-container .rpv-core__inner-pages {
  width: 100%;
  height: 100%;
}

.rpv-core__viewer .rpv-core__inner-container .rpv-core__inner-pages > div {
  width: 100% !important;
  height: 100% !important;
}

.rpv-core__viewer
  .rpv-core__inner-container
  .rpv-core__inner-pages
  > div
  .rpv-core__inner-page-container {
  width: 100% !important;
  height: 100% !important;
}

.rpv-core__viewer
  .rpv-core__inner-container
  .rpv-core__inner-pages
  > div
  .rpv-core__inner-page-container
  .rpv-core__inner-page {
  width: 100% !important;
  height: 100% !important;
}

.rpv-core__viewer
  .rpv-core__inner-container
  .rpv-core__inner-pages
  > div
  .rpv-core__inner-page-container
  .rpv-core__inner-page
  .rpv-core__page-layer {
  width: 100% !important;
  height: 100% !important;
}

.rpv-core__viewer
  .rpv-core__inner-container
  .rpv-core__inner-pages
  > div
  .rpv-core__inner-page-container
  .rpv-core__inner-page
  .rpv-core__page-layer
  .rpv-core__canvas-layer {
  width: 100% !important;
  height: 100% !important;
}

.rpv-core__viewer
  .rpv-core__inner-container
  .rpv-core__inner-pages
  > div
  .rpv-core__inner-page-container
  .rpv-core__inner-page
  .rpv-core__page-layer
  .rpv-core__canvas-layer
  canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}
*/